APP_NAME=SoundWave
APP_ENV=local
APP_KEY=base64:nvN3x2RIJi1Rsc+YJ+2m7GdHQoGQgbn1tV01P8VSIE8=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://soundwave.io.vn

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=soundwave
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=soundwavemusic1410@gmail.com
MAIL_PASSWORD=uhjmuyxfcgfgkvaa
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="soundwavemusic1410@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=AKIAU6VTTFJXCK7MYZV3
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-2
AWS_BUCKET=soundwave2
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=https://soundwave2.s3.amazonaws.com
VITE_APP_NAME="${APP_NAME}"


R2_ACCESS_KEY_ID=bsrL_hWGXGFEBXTIMJ-3NCrj5Ct5Gcng23C4Mjp2
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=1910ad2832fd3a1cc3fbe206b309dc51
R2_BUCKET_NAME=soundwave
R2_REGION=auto
R2_URL=https://1910ad2832fd3a1cc3fbe206b309dc51.r2.cloudflarestorage.com
